.about-me-view{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: Montserrat;
  margin-bottom: 5rem;
}
.about-me-left{
  width: 40%;
}
.about-me-right{
  width: 60%;
}

.text-1{
  font-weight: bold;
}
/* Mobile CSS */
@media (max-width: 768px){
  .about-me-view{
    flex-direction: column;
  }
  .about-me-left{
    width: 100%;
  }
  .about-me-right{
    width: 100%;
  }
  h1{
    text-align: center;
  }
  .profile-image{
    width: 100%;
  }
  p{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
