body{
  overflow-x: hidden;
 margin: 0;
}
.title{
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.mt-0{
  margin-top: 0px;
}
*{
  box-sizing: content-box;
}

.font-one{
  font-family: Montserrat;
}

.text-center{
  text-align:center;
  
}

/* CSS for Bootstrap-like container */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
 
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
 
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
 
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.button-operational {
  height: 39px;
  background-color: #FD6F00;
  border: none;
  border-radius: 5px;
  padding:6px 12px 6px 12px ;
  color: white;
  width: 130px;
  font-family: Montserrat;
 }
 .profile-image{
  width: 100%;
}
.container-smaller{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat ;
  width: 100%;
 
}
.button-c{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:2rem ;
}
.header,
.about-me,
.services,
.my-projects,
.testimonials{
  margin-bottom: 7rem;
}
/*
.day-mode{
  background-color: white;
  color:black;
}
 .night-mode{
  background-color: black;
  color: white;
 }

 .night-mode .night-color{
  color: black;
 }*/