


.text{
  font-family:Montserrat;
  line-height:normal;
 
}

.starter{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0.5rem;
}
.header-name{
  font-weight: 600;
  color:#FD6F00 ;
  font-size: 32px;
}
.main-heading{
  font-weight: 700;
  font-size: 60px;
}
.main-2{
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
margin-left: 11rem;

}
.experienc{
  font-weight: 400;
}



.symbols{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}


.header-left{
  width: 60%;
  overflow: hidden;
  padding-top: 5rem;
}

.header-right{
  width: 40%;
  align-items: center;
  justify-content: center;
}

.header-right:hover{
  cursor: pointer;
  transform: scale(1);
}
.header-view{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  
}

.main-2,
.experienc{
  margin-bottom: 2rem;
}
 

@media (max-width: 768px) {
 .header-view{
  flex-direction: column;
 }
 .header-left{
  width: 100%;
 }
 .header-right{
  width: 100%;
  
 }
.main-2{
  margin-left: 0;
}
.symbols{
  justify-content: center;
  gap: 2rem;
  align-items: center;
  display: flex;
 
}

.profile-image{
  width: 100%;
  margin-bottom: 1rem;
}

}
.profile-image{
 
}

@media (max-width: 992px){
  
  .main-2{
    margin-left: 0;
  }
  
}
