.projects-button{

  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 10px;
  border-style: solid;
  border-color: #cac5c5;
  border-radius: 5px;
  border-width: 1px;
}
.dif-button{
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  border-width: 1px;
  background-color: #FD6F00;
  color: white;
}

.page-documents{
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  margin-top: 2rem;
  
}
.Rectangle{
  height: 20rem;
}
.font-text{
  font-weight: bold;
}

.title-1,
.pharagraph{
  margin: 0;
 
}
 .title-1{
  font-size: 15px;
  color: #FD6F00;
  line-height: 3rem;
  font-weight: bold;
 }

 @media (max-width:768px) {
  .page-documents{
    display: flex;
    justify-content:center;
    flex-direction: column;
  }
 .interduction{
  margin-bottom: 3rem;
 }
  .Rectangle{
    margin-left: 2rem;
  }
 }

 .button-class{
  margin-top: 1rem;
 }



