.projects-button{

  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 10px;
  border-style: solid;
  border-color: #cac5c5;
  border-radius: 5px;
  border-width: 1px;
}
.dif-button{
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  border-width: 1px;
  background-color: #FD6F00;
  color: white;
}

.page-documents{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 5rem;
  margin-top: 3rem;
  flex-direction: column;
}
.Rectangle{
  height: 20rem;
}


.title,
.pharagraph{
  margin: 0px;
}
 .title{
  font-size: 15px;
  color: #FD6F00;
  
 }





