.navbar-view{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
 
}
.navbar-left{
 width: 20%;
 display: flex;

}
.navbar-right{
 width: 77%;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 
}
@media (max-width: 992px){
  .middle{
    display: none !important;
  }
  .button{
    display: none !important;
  }
}

 
.name{
  display: flex;
  font-size: 25px;
  
}
.name1{
 font-weight: 700;
}
.surname{
  font-weight: 400;
}

.middle{
 display: flex;

}
.middle div{
  margin-right: 2rem;
  font-family: Montserrat;
}

.hamburger-icon{
  display: flex;
  width: 3%; 
}
.hamburger{
 width: 100%;
 margin-left: 4rem;
}

