

.box-design{
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  margin-top:2rem;
}
.backround-color-box{
  background-color:#F8F8F8;
  border-radius: 1rem;
 align-items: center;
 padding: 1rem 1rem 1rem 1rem;

}
.box-images{
  margin-bottom: 1rem;
  width: 25%;
}
.lineheight-div{
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 20px;
}



@media (max-width:768px) {

  .container-smaller{
    flex-direction: column;
  }
 .box-design{
  display: flex;
  flex-direction: column;

  
 }
 .backround-color-box{
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
 
 }

}
@media (max-width:992px) {
  .box-design{
    display: grid;
   
    gap: 2rem;
  }
}
