

.box-design,
.page-interduction{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  
}
.backround-color-box{
  background-color:#F8F8F8;
  height: 14rem;
  border-radius: 1rem;
 align-items: center;
 padding: 2rem 0rem 2rem 1rem;

}
.box-images{
  margin-bottom: 2rem;
}
.lineheight-div{
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 20px;
}
h1{
  margin-bottom: 2rem;

}
.services-explained{
  width: 60%;
  margin-bottom: 3rem;
}

@media (max-width:768px) {
  .container-smaller{
    flex-direction: column;
  }
 .box-design{
  grid-template-columns: repeat(1, 1fr);
  
 }
 .backround-color-box{
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
 }

}
