

.box-design{
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  
}
.backround-color-box{
  background-color:#F8F8F8;
  border-radius: 1rem;
 align-items: center;
 padding: 2rem 0rem 2rem 1rem;

}
.box-images{
  margin-bottom: 2rem;
}
.lineheight-div{
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 20px;
}
.title{
  margin-bottom: 2rem;

}
.services-explained{
 
  margin-bottom: 3rem;
}

@media (max-width:768px) {

  .container-smaller{
    flex-direction: column;
  }
 .box-design{
  display: flex;
  flex-direction: column;

  
 }
 .backround-color-box{
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  margin-bottom: 3rem;
 }

}
